<strong id="xwikicontentmenutitle" class="hidden">$services.localization.render('core.menu.content.title')</strong>
#if($hasEdit && !$isReadOnly)
  ## Compute the default edit mode
  #set($editaction = $doc.getDefaultEditMode())
  ##
  ## Edit menu
  ##
  #if($keyboardShortcutsEnabled)
    <script type="text/javascript">
    //<![CDATA[
      shortcut.add("$services.localization.render('core.shortcuts.view.edit')",function() { location.href=$('tmEdit').down('a').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
      #if($isAdvancedUser)
        shortcut.add("$services.localization.render('core.shortcuts.view.wiki')",function() { location.href=$('tmEditWiki').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
        shortcut.add("$services.localization.render('core.shortcuts.view.wysiwyg')",function() { location.href=$('tmEditWysiwyg').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
        shortcut.add("$services.localization.render('core.shortcuts.view.inline')",function() { location.href=$('tmEditInline').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
        shortcut.add("$services.localization.render('core.shortcuts.view.rights')",function() { location.href=$('tmEditRights').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
        shortcut.add("$services.localization.render('core.shortcuts.view.objects')",function() { location.href=$('tmEditObject').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
        #if($hasAdmin)
          shortcut.add("$services.localization.render('core.shortcuts.view.class')",function() { location.href=$('tmEditClass').href; }, { 'type':'keypress', 'propagate':false, 'disable_in_input':true });
        #end
      #end
    //]]>
    </script>
  #end
  #if($isAdvancedUser)
    #xwikimenubuttonstart($doc.getURL($editaction, $!languageparams) $services.localization.render('core.menu.edit') 'tmEdit' 'pencil' 'success')
    ## Check if the WYSIWYG supports the current document's syntax and if so add a menu entry to edit the current
    ## document with the WYSIWYG editor.
    #if ($services.wysiwyg.isSyntaxSupported($tdoc.syntax.toIdString()) || $tdoc.syntax.toIdString() == 'xwiki/1.0')
        #submenuitem($doc.getURL('edit', "$!{languageparams}#if ($languageparams != '')&amp;#{end}editor=wysiwyg") $services.localization.render('core.menu.edit.wysiwyg') 'tmEditWysiwyg' 'pencil')
    #end
    #submenuitem($doc.getURL('edit', "$!{languageparams}#if ($languageparams != '')&amp;#{end}editor=wiki") $services.localization.render('core.menu.edit.wiki') 'tmEditWiki' 'chevron-right')
    #submenuitem($doc.getURL($editaction, "$!{languageparams}#if ($languageparams != '')&amp;#{end}editor=inline") $services.localization.render('core.menu.edit.inline') 'tmEditInline' 'list-alt')
    #submenuseparator()
    #submenuitem($doc.getURL('edit', 'editor=rights') $services.localization.render('core.menu.edit.rights') 'tmEditRights' 'lock')
    #submenuitem($doc.getURL('edit', 'editor=object') $services.localization.render('core.menu.edit.object') 'tmEditObject' 'cog')
    #submenuitem($doc.getURL('edit', 'editor=class') $services.localization.render('core.menu.edit.class') 'tmEditClass' 'cog')
    #xwikimenubuttonend()
  #else ## !isAdvanced
    #xwikimenubutton($doc.getURL($editaction, $!languageparams) $services.localization.render('core.menu.edit') 'tmEdit', 'pencil', 'success')
  #end
#end
##
## Menu Add
##
#if ($hasCreateSpace || $hasCreatePage || ($hasComment && !$doc.isNew()))
  #xwikimenubuttonstart('' $services.localization.render('core.menu.create') 'tmCreate' 'plus' 'primary')
  #set ($hasPreviousMenuSection = false)
  #if ($hasCreatePage)
    #submenuitem("$doc.getURL('create')" $services.localization.render('core.menu.create.page') 'tmCreatePage', 'file')
    ## Only display the Office Importer menu action if the Office Importer application is functional
    #if ("$!services.officemanager.serverState" == 'Connected')
      #submenuitem($officeImporterMainDocument.getURL('view', "&amp;parent=$!{escapetool.url($doc.fullName)}") $services.localization.render('core.menu.create.pageFromOffice') 'tmCreatePageFromOffice', '')
    #end
    #set ($hasPreviousMenuSection = true)
  #end
  #if ($hasCreateSpace)
    #if ($hasPreviousMenuSection)
      #submenuseparator()
    #end
    #submenuitem("$doc.getURL('create', 'tocreate=space')" $services.localization.render('core.menu.create.space') 'tmCreateSpace', 'folder-open')
    #set ($hasPreviousMenuSection = true)
  #end
#if(!$doc.isNew())
  #if ((($hasComment && $showcomments) || ($hasEdit && $showattachments)) && $hasPreviousMenuSection)
    #submenuseparator()
  #end
  #if ($hasComment && $showcomments)
    #submenuitem("$doc.getURL('view', 'viewer=comments')" $services.localization.render('docextra.comments') 'tmCreateComment', 'comment')
    <script type="text/javascript">
      //<![CDATA[
        document.observe('xwiki:dom:loaded', function() {
          $('tmCreateComment').observe('click', function(event) {
            event.stop();
            XWiki.displayDocExtra('Comments', 'commentsinline.vm', true);
            return false;
          });
        });
      //]]>
    </script>
    #set ($hasPreviousMenuSection = true)
  #end
  #if ($hasEdit && $showattachments)
    #submenuitem("$doc.getURL('view', 'viewer=attachments')" $services.localization.render('docextra.attachments') 'tmCreateAttachment', 'paper-clip')
    <script type="text/javascript">
      //<![CDATA[
        document.observe('xwiki:dom:loaded', function() {
          $('tmCreateAttachment').observe('click', function(event) {
            event.stop();
            XWiki.displayDocExtra('Attachments', 'attachmentsinline.vm', true);
            return false;
          });
        });
      //]]>
    </script>
    #set ($hasPreviousMenuSection = true)
  #end
#end
  #xwikimenubuttonend()
#end
##
##
## Build the list of documents extras to display, if it does not exist (default).
## List format : ["ExtraAnchor",  "ExtraTabText", numberOfItems]
##
#if (!$docextralinks && !$docextras)
  #set($docextralinks = [])
  #if($xcontext.action == 'view' && $viewer != 'content')
    #set ($discard = $docextralinks.add(['content', $services.localization.render('core.links.content'), -1, 'file']))
  #end
  #if($viewer != 'comments' && $showcomments)
    #set ($discard = $docextralinks.add(["comments", $services.localization.render("docextra.comments"), $doc.getObjects("XWiki.XWikiComments").size(), 'comments-alt']))
  #end
  #if($showannotations)
    #if(!$annotationCount)
      ## Annotation count is supposed to be defined in xwikivars.vm. If for a reason or another it is not
      ## defined at this point, we tap into the standard annotation class, and do not load again the 
      ## config document. This however should not happen.
      #set($annotationCount = $doc.getObjects('AnnotationCode.AnnotationClass').size())
    #end
    #set ($discard = $docextralinks.add(["annotations", $services.localization.render("docextra.annotations"), $annotationCount, 'flag']))
  #end
  #if($viewer != 'attachments' && $showattachments)
    #set ($discard = $docextralinks.add(["attachments", $services.localization.render("docextra.attachments"), $doc.getAttachmentList().size(), 'paper-clip']))
  #end
  #if($viewer != 'history' && $showhistory)
    #set ($discard = $docextralinks.add(["history", $services.localization.render("docextra.history"), -1, 'time']))
  #end
  #if($viewer != 'information' && $showinformation)
    #set ($discard = $docextralinks.add(["information", $services.localization.render("docextra.information"), -1, 'info-sign']))
  #end
#end
###
## Actions menu
##
#if(!$doc.isNew())
  #xwikimenubuttonstart('' $services.localization.render('core.menu.moreactions') 'tmMoreActions' 'cog')
  #submenuitem($doc.getURL('view', "xpage=print&amp;$!escapetool.html($request.getQueryString())") $services.localization.render('core.menu.preview') 'tmPrintPreview', 'print')
##
## Export menu
##
  #submenuentrystart($services.localization.render('core.menu.export') 'tmExport' 'download-alt' 'pull-left')
  ## Preserve the document query string.
  #submenuitem($doc.getURL('view', "xpage=pdfoptions&amp;qs=$!escapetool.url($request.getQueryString())") $services.localization.render('core.menu.export.pdf') 'tmExportPdf')
  #if("$!{services.officemanager.serverState}" == "Connected")
    #submenuitem($doc.getURL('export', "format=odt&amp;$!escapetool.html($request.getQueryString())") $services.localization.render('core.menu.export.odt') 'tmExportOdt')
  #end
  #submenuitem($doc.getURL('export', "format=rtf&amp;$!escapetool.html($request.getQueryString())") $services.localization.render('core.menu.export.rtf') 'tmExportRtf')
  #submenuitem($doc.getURL('export', "format=html&amp;$!escapetool.html($request.getQueryString())") $services.localization.render('core.menu.export.html') 'tmExportHtml')
  #if($hasAdmin && "$!xwiki.getPlugin('package')" != '')
    #submenuitem($doc.getURL('export', "format=xar&amp;name=$escapetool.url($doc.fullName)&amp;pages=$escapetool.url($doc.fullName)&amp;$!docvariant") $services.localization.render('core.menu.export.xar') 'tmExportXar')
  #end
  #xwikitopmenuentryend()
  #submenuitem($doc.getURL('view', "viewer=code") $services.localization.render('core.menu.view.source') 'tmViewSource' 'quote-left')
  #if($docextralinks.size() > 0)
    #submenuseparator()
  #end
  #foreach($docextralink in $docextralinks)
    #set ($extraAnchor = $docextralink.get(0))
    #set ($extraText = $escapetool.xml($docextralink.get(1)))
    #set ($extraCount = $docextralink.get(2))
    #set ($extraIcon = $docextralink.get(3))
    #if($extraCount >= 0)
      #set ($extraText = "$extraText (${escapetool.xml(${extraCount})})")
    #end
    #submenuitem($doc.getURL('view', "viewer=$!{escapetool.url(${extraAnchor})}") $extraText "${escapetool.xml(${extraAnchor})}shortcut" $extraIcon)
  #end
  #xwikimenubuttonend()
  #if ($keyboardShortcutsEnabled)
    <script type="text/javascript">
    //<![CDATA[
      shortcut.add("$services.localization.render('core.shortcuts.view.code')", function() {
        location.href = $('tmViewSource').href;
      }, {'type': 'keypress', 'propagate': false, 'disable_in_input': true });
    //]]>
    </script>
  #end
#end
