#if(($hidecolumns && ($!hidecolumns == 1)) || ($showLeftPanels == "0" && $showRightPanels == "0"))
</div>## container
#else
        </div> ## col-md
  #if($showRightPanels != "0")
    #if($showLeftPanels != "0")
        <div id="leftPanels" class="col-md-4">
      #template("leftpanels.vm")
        </div>
      </div>## row
    </div>## col-md
    #end
    <div id="rightPanels" class="col-md-3">
#template("rightpanels.vm")
    </div>
  #else
    ## showLeftPanel == 1
    <div id="leftPanels" class="col-md-3">
      #template("leftpanels.vm")
    </div>
  #end
  </div> ## row
</div>## container
#end
#template("footer.vm")
#template("htmlfooter.vm")
