#template("xwikivars.vm")
#template("layoutvars.vm")
#template("htmlheader.vm")
#template("menuview.vm")
#template("header.vm")
#if(($hidecolumns && ($!hidecolumns == 1)) || ($showLeftPanels == "0" && $showRightPanels == "0"))
<div class="container">
#else
<div class="container">
  <div class="row">
  #if($showLeftPanels != "0")
    #if($showRightPanels != "0")
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8 pull-right">
    #else
        <div class="col-md-9 pull-right">
    #end
  #else
    ## showRightPanels == 1
        <div class="col-md-9">
  #end
#end
